$primary: rgb(8, 92, 92);
@import "~bootstrap/scss/bootstrap";


.container {
  padding: 40px 0;
}

em {
  font-style: italic;
}

#plug {
  font-size: 100%;
  font-weight: 300;
  white-space: nowrap;
}

.paragraph[contenteditable] {
  outline-color: #61979766;
  padding: 4px;
}